<footer class="footer">
    <i class="fab fa-twitter"></i>
    <i class="fab fa-facebook-square"></i>
    <i class="fab fa-instagram"></i>
    <div id="copyright">
        <i class="far fa-copyright"></i>
        <p style="display: inline;"> TUTORonto 2019 </p>
    </div>

</footer>
</body>

</html>