<!-- <footer class="footer">
    <div class="container text-center">
        <large>Copyright &copy; 2tr-now</large>
    </div>
</footer> -->




<footer class="footer" id="footer">
    <div class="container text-center">
        <large>Copyright &copy; 2tr-now</large>
    </div>
</footer>


</html>