<% include partials/member_header.ejs %>

<div class="container">
  <h1>Search</h1>
  <input
    type="text"
    id="searchbar"
    name="searchbar"
    placeholder="Enter a tutor's name, subject(s) or location"
  />
  <% include partials/footer.ejs %>
</div>
