<% include partials/other_header.ejs %>
<p>Error: You must select at least one subject and one city</p>

<button onclick="goBack()">Go Back</button>

<script>
  function goBack() {
    window.history.back();
  }
</script>
<% include partials/footer.ejs %>
