<% include partials/header.ejs %>


<div class="container-fluid">
  <div class="row">
    <!-- info section -->
    <div class="col-lg-5 banner-info text-capitalize py-5 px-5">
      <h1>High quality tutoring</h1>
      <h1>Anytime.</h1>
      <h1>Anywhere.</h1>
      <div>
        <span>
          <button href="/register">Sign Up</button>

          <button href="/login">Login</button>
        </span>
      </div>
    </div>
    <!-- end of info section -->
    <!--image section-->
    <div class="col-lg-7 banner-img">
      <div class="banner-image__footer px-5 py-5">
        <div class="center-div">
          <img src="/public/img/main_image.jpg" class="rounded float-left" alt="landing page image">
        </div>

        <!-- end of image -->
      </div>
    </div>

    <!-- <img src="\images\home_page_photo.jpg" <% include partials/footer.ejs %> -->