<% include partials/new_header.ejs %>

<div class="container d-flex justify-content-center">
    <form method="POST" action="/server/routes/login.js">
        <h1>Login</h1>
        <h3>Welcome back!</h3>

        <div>
            <label for="email"> </label>
            <input type="email" id="email" name="email" value="" placeholder="email" />
        </div>
        <div>
            <label for="password"> </label>
            <input type="password" id="password" name="password" value="" placeholder="password" />
    </form>
</div>
<% include partials/footer.ejs %>