<% include partials/new_header.ejs %>

<div class="container">
  <h1>Sign up</h1>
  <h3>It's easy. And free</h3>
  <form id="registerForm" action="/register" method="post">


    <div class="row"  class="row justify-content-between"">
      <div class="col-lg-6">
        <label for="username">Username: </label>
        <input
          type="text"
          id="username"
          name="user_name"
          placeholder="Input username"
          required
        />
      </div>
      <div class="col-lg-6">
        <label for="email"> Email: </label>
        <input type="email" id="email" name="email" placeholder="Enter your email" required />
      </div>
    </div>

    <div id="password_form" class="row justify-content-between"">

    <div class="col-lg-6">
      <label for="password">Password: </label>
      <input
        type="password"
        id="password"
        name="password"
        placeholder="Input password (minimum 8 characters long)"
        required
        onkeyup = 'checkPassword()';
        pattern=".{8,}"
      />
      <span id="passwordMessage"> </span>
    </div>

    <div class="col-lg-6">
      <div>
        <label for="confirmPassword">Confirm Password: </label>
        <input
          type="password"
          id="confirmPassword"
          name="confirmPassword"
          placeholder="Input password (minimum 8 characters long)"
          required
          pattern=".{8,}"
          onkeyup = 'checkPassword()';
        />
      </div>
    </div>

  </div>
    <div id="name_form" class="row d-flex justify-content-betwen">
      <div class="col-lg-6">
        <label for="first_name">First Name: </label>
        <input
          type="text"
          id="first_name"
          name="first_name"
          placeholder="First Name"
          required
        />
      </div>

      <div class="col-lg-6">
        <label for="last_name">Last Name: </label>
        <input
          type="text"
          id="last_name"
          name="last_name"
          placeholder="Last Name"
          required
        />
      </div>
    </div>




      <div class="col-lg-4">
          <label for="location">Location: </label>
        <select name="location">
          <option value="Downtown Toronto"> Downtown Toronto </option>
          <option value="North York"> North York </option>
          <option value="Scarborough"> Scarborough </option>
          <option value="Etobicoke"> Etobicoke </option>
          <option value="Peel Region"> Peel Region </option>
          <option value="York Region"> York Region </option>
          <option value="Durham Region"> Durham Region </option>
        </select>
      </div>

      <div class="form-check form-check-inline col-lg-6">
          <input name="memberCategory" type="radio" class="form-check-input" id="tutorCategory">
          <label class="form-check-label col-lg-4" for="tutorCategory"> I am a tutor </label>
        <div class="reveal-if-active">
          <p> Choose your subjects: </p>
          <label class=" form-check-label" for="math"> Math </label>
            <input class="form-check-input" type="checkbox" value="math" name="math">
            <label class=" form-check-label" for="science"> Science </label>
            <input class="form-check-input" type="checkbox" value="science" name="science">   
            <label class=" form-check-label" for="computerStudies"> Computer Studies </label>
            <input class="form-check-input" type="checkbox" value="computerstudies" name="computerstudies">   
            <label class=" form-check-label" for="English"> English </label>
            <input class="form-check-input" type="checkbox" value="english" name="english">
        </div>
      </div>

      <div class="form-check form-check-inline col-lg-6">
          <input name="memberCategory" type="radio" class="form-check-input" id="studentCategory">
          <label class="form-check-label col-lg-4" for="studentCategory"> I am student </label>
          <div class="reveal-if-active">
              <p> Enter your date of birth.  You must be 13 years old or older to use this site. </p>
              <label for="DOB"> Date of Birth: </label>
              <input type="date" id="DOB" name="DOB" placeholder="DD/MM/YY" required/>
          </div>
        </div>
    

      <!-- <div class="col-lg-4">
        <label for="grade">Grade: </label>
        <input
          type="number"
          min="9"
          max="12"
          id="grade"
          name="grade"
          placeholder="9-12"
          required
        />
      </div> -->
     -->

    <!-- <div>
      <fieldset>
        <legend>
          Choose your subjects (Check all subjects that you would like tutoring
          in or are able to tutor)
        </legend>

        <div class="row">
        <div class="col-lg-4">
          <h4> Math </h4>
        <div>
          <input type="checkbox" id="MCR3U" name="functions" value="MCR3U" />
          <label for="MCR3U"> MCR3U Functions </label>
        </div>

        <div>
          <input
            type="checkbox"
            id="MHF4u"
            name="advanced_functions"
            value="MHF4U"
          />
          <label for="MHF4U"> MHF4U Advanced Functions </label>
        </div>

        <div>
          <input
            type="checkbox"
            id="MCV4U"
            name="calculus_and_vectors"
            value="MCV4U"
          />
          <label for="MCV4U"> MCV4U Calculus and Vectors </label>
        </div>

        <div>
          <input
            type="checkbox"
            id="MDM4U"
            name="data_management"
            value="MDM4U"
          />
          <label for="MDM4U"> MDM4U Data Management </label>
        </div>
      </div>

      <div class="col-lg-4">
        <h4> Science </h4>
        <div>
          <input type="checkbox" id="SPH3U" name="physics_11" value="SPH3U" />
          <label for="SPH3U"> SPH3U Physics 11 </label>
        </div>

        <div>
          <input type="checkbox" id="SPH4U" name="physics_12" value="SPH4U" />
          <label for="SPH4U"> SPH4U Physics 12 </label>
        </div>

        <div>
          <input type="checkbox" id="SCH3U" name="chemistry_11" value="SCH3U" />
          <label for="SCH3U"> SCH3U Chemistry 11 </label>
        </div>

        <div>
          <input type="checkbox" id="SCH4U" name="chemistry_12" value="SCH4U" />
          <label for="SCH4U"> SCH4U Chemistry 12 </label>
        </div>

        <div>
          <input type="checkbox" id="SBI3U" name="biology_11" value="SBI3U" />
          <label for="SBI3U"> SBI3U Biology 11 </label>
        </div>

        <div>
          <input type="checkbox" id="SBI4U" name="biology_12" value="SBI4U" />
          <label for="SBI4U"> SBI4U Biology 12 </label>
        </div>

        <div>
          <input
            type="checkbox"
            id="SES4U"
            name="earth_and_space"
            value="SES4U"
          />
          <label for="SES4U"> SES4U Earth and Space Science </label>
        </div>
      </div>

      <div class="col-lg-4">
        <h4> Computer Science </h4>
        <div>
          <input type="checkbox" id="ICS3U" name="compsci_11" value="ICS3U" />
          <label for="ICS3U"> ICS3U Introduction to Computer Science </label>
        </div>

        <div>
          <input type="checkbox" id="ICS4U" name="compsci_12" value="ICS4U" />
          <label for="ICS4U"> ICS4U Computer Science </label>
        </div>
      </div>
      </fieldset>
    </div>
    <button type="submit" class="btn btn-primary">Register Now</button>
  </div> -->
  <button type="submit" class="btn btn-primary">Register Now</button>
  </form>
</div>

<script>
  let password = document.getElementById("password");
  let confirmPassword = document.getElementById("confirmPassword");

  password.oninvalid = function (event) {
  event.target.setCustomValidity('Password must be at least 8 characters long');
  }

  function checkPassword() {
    console.log(password.value.length)
    if (password.value !== confirmPassword.value) {
        document.getElementById("passwordMessage").innerHTML = 'Passwords do not match'
    } else if (password.value.length === 0 || confirmPassword.value.length === 0 ) {
      document.getElementById("passwordMessage").innerHTML = " ";
    } else {
      document.getElementById("passwordMessage").innerHTML = " ";
    }
  }

</script>
<% include partials/footer.ejs %>
