<% include partials/header.ejs %>

<div class="container d-flex justify-content-center">
  <form>
    <h1>Register</h1>
    <h3>Welcome!!</h3>

    <div>
      <label for="email">Email </label>
      <input type="text" id="email" name="email" value="" />
    </div>
    <div>
      <label for="fullname">Fullname </label>
      <input type="text" id="fullname" name="fullname" value="" />
    </div>
    <div>
      <label for="password">Password </label>
      <input type="password" id="password" name="password" value="" />
  </form>
</div>


<% include partials/footer.ejs %>