<% include partials/member_header.ejs %>

<div class="container">
  <div class="row justify-content-end" id="resultsPages">
    <div class="col-lg-6">
      <h1>Showing 1-6 of xxx results</h1>
    </div>
    <div class="col-lg-3">
      <p>&lt 1 2 3 &gt</p>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-3 filterResults">
      <div class="rangeSlider">
        <p>Price ($/hour)</p>
        <input
          type="range"
          min="1"
          max="1000"
          value="40"
          class="slider"
          id="price_slider"
          onchange="updateTextInput(this.value)"
        />
        <input type="text" id="textInput" value="" />
      </div>

      <div id="filterSubjects">
        <p>Subjects</p>
      </div>

      <div id="format">
        <p>Tutoring Format</p>
      </div>
    </div>

    <div class="col-lg-3 card">
      <img
        src="public\img\profile-placeholder.png"
        class="profilePic card-img-top"
      />
      <div class="card-body">
        <p class="card-text">
          Hi! I'm a really good tutor. Choose me!
        </p>
      </div>
    </div>

    <div class="col-lg-3 card">
      <img
        src="public\img\profile-placeholder.png"
        class="profilePic card-img-top"
      />
      <div class="card-body">
        <p class="card-text">
          I'm really good at physics and calculus!
        </p>
      </div>
    </div>

    <div class="col-lg-3 card">
      <img
        src="public\img\profile-placeholder.png"
        class="profilePic card-img-top"
      />
      <div class="card-body">
        <p class="card-text">
          I offer quality service at a great rate!
        </p>
      </div>
    </div>
  </div>

    <div class="row justify-content-end">
      <div class="col-lg-3 card">
        <img
          src="public\img\profile-placeholder.png"
          class="profilePic card-img-top"
        />
        <div class="card-body">
          <p class="card-text">
            Hi! I'm a really good tutor. Choose me!
          </p>
        </div>
      </div>

      <div class="col-lg-3 card">
        <img
          src="public\img\profile-placeholder.png"
          class="profilePic card-img-top"
        />
        <div class="card-body">
          <p class="card-text">
            I'm really good at physics and calculus!
          </p>
        </div>
      </div>

      <div class="col-lg-3 card">
        <img
          src="public\img\profile-placeholder.png"
          class="profilePic card-img-top"
        />
        <div class="card-body">
          <p class="card-text">
            I offer quality service at a great rate!
          </p>
        </div>
      </div>
    </div>

   
    </div>
  </div>

  <script src="/public/scripts/script.js"></script>


  <% include partials/footer.ejs %>
