<% include partials/member_header.ejs %>


<div class="container">
  <div class="row">
    <div class="col-lg-4">
      <img src="/public/img/profile-placeholder.png" id="homeProfilePic" />
      <h1>
        <!-- username -->
      </h1>
      <p id="lastLogin">
        <!-- last_login -->
      </p>
      <h2>User Profile</h2>

      <!-- username -->
    <table>
      <tr>
        <td class="profileHeading"> Username:</td>
        <td style="vertical-align: center;"> <%= student[0].user_name%></td>
      </tr>
    
      <!-- full_name -->
      <tr>
        <td class="profileHeading">Name:</td>
        <td> <%= full_name %></td>
      </tr>
          <!-- DOB -->
          <tr>
            <td class="profileHeading">Date of Birth:</td>
            <td> <%= student[0].dob %></td>
          </tr>

          <!-- location -->
          <div>
            <td class="profileHeading">Location:</td>
            <td ><%= student[0].city %></td>
          </div>


        </table>

      <button id="editProfile" type="button" class="btn btn-success">Edit Profile</button>
      

        <!-- upcoming_sessions -->
      </div>
    </div>
    <div class="col-lg-6">
        <div id="upcoming_sessions">
            <h3 id="upcomingHeading">Upcoming Sessions</h3>
            <table>
              <tr>
                <th>Date</th>
                <th>Tutor</th>
                <th>Subject</th>
              </tr>
              <tr>
                <td>12/30/2019</td>
                <td>Tarun Sharma </td>
                <td>Blockchain </td>
              </tr>
            </table>
        <table id="history">
         
            <h4>History</h4>
            <tr>
              <th>Date</th>
              <th>Tutor</th>
              <th>Subject</th>
              <th>Rating</th>
            </tr>
            <tr> 
              <td> 11/11/2019 </td>
              <td> Manpreet Saini </td>
              <td> Physics </td>
              <td>   4 stars      </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<% include partials/footer.ejs %>
