<head>
    <style>
        body {
            padding-top: 200px;
        }
    </style>
</head>


<div class="col-lg-6 float-left">
    <div class="card card-body text-center">
        <h1><img src="/img/logo.svg"></h1>
        <p>Create an account or login as a Student</p>
        <a href="/users/studentregister" class="btn btn-primary btn-block mb-2">Student Register</a>
        <a href="/users/studentlogin" class="btn btn-secondary btn-block">Student Login</a>
    </div>
</div>



<div class="col-lg-6 float-right">
    <div class="card card-body text-center">
        <h1><img src="/img/logo.svg"></h1>
        <p>Create an account or login as a Tutor</p>
        <a href="/users/tutorregister" class="btn btn-primary btn-block mb-2">Tutor Register</a>
        <a href="/users/tutorlogin" class="btn btn-secondary btn-block">Tutor Login</a>
    </div>
</div>